* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}



@media (min-width: 768px) {
    .carrusel img {
        height: 22rem;
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }
}

@media (min-width: 1024px) {
    .carrusel img {
        height: 31rem;
    }

    .categorias {
        padding-top: 3rem;
    }

    .productos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }
}