@import "../utilities/mixins.scss";
@import "../utilities/variables.scss";

.sobreNosotros {
    background-color: #ede1d1a8;
    margin: 5rem 0rem 5rem 0rem;
    padding: 5rem;

    p {
    text-align: center;
    width: 90%;
    margin: 0 auto;

}

    h2{
        @include titulo(center, 1rem, $colorTitulo);
    }

}

